GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
ROOT_AGENT_MODEL=

URL_LISTAR_BASES=https://dadosabertos.rj.gov.br/api/3/action/package_list
URL_BUSCAR_BASE=https://dadosabertos.rj.gov.br/api/3/action/package_search?={}
URL_CONSULTAR_PROCESSAR_ARQUIVO=https://dadosabertos.rj.gov.br/api/3/action/package_show?id={}